.calendar-grid {
    -fx-hgap: 4 ;
    -fx-vgap: 4 ;
    -fx-padding: 4 ;
}

.calendar-header {
    -fx-alignment: center ;
    -fx-font-size: 18pt ;
    -fx-font-weight: bold ;
}

.calendar-cell {
    -fx-padding: 4 ;
    -fx-alignment: center ;
}

.calendar-cell:before-display-month, .calendar-cell:after-display-month {
    -fx-opacity: 0.4 ;
}

.calendar-header-cell {
    -fx-padding: 4 ;
    -fx-alignment: center ;
    -fx-font-weight: bold ;
}